* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nanum Gothic', sans-serif;
  background-color: #FFF9FB;
  color: #333;
  max-width: 430px;
  margin: 0 auto;
  min-height: 100vh;
  position: relative;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}